/* CSS Document */
header {
	border: none;
}
body {
    font-size: 14;
    background-color: beige;
    margin-left: 10%;
    margin-top: 5px;
    margin-right: 10%;
    margin-bottom: 10px;
    line-height: 2em;
}
body,td,th {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: left;
}
main {
    align: center;
    font-size: large;
}
h1 {
    font-size: x-large;
    line-height: 1.3em;
    color: #006400;
	align: center;
}
h2 {
    font-size: large;
    color: #006400;
}
h3 {
    font-size: medium;
    color: #000000;
}
table {
    margin: 0 20%;
    border: 1px;
}
table .chart-day {
	margin-left: 10px;
    vertical-align: center;
    font-size: large;
}
table .chart-time {
    vertical-align: left;
	margin-left: 10px;
    font-size: large;
    font-style: normal;
    font-weight: bold;
}
tr td h3 {
    text-align: center;
	vertical-align: center;
    font-size: large;
}
tbody tr td th {
    text-align: center;
    vertical-align: center;
    font-size: large;
}
h4 {
    font-size: small;
    color: #000000;
}
nav {
	background-color: darkgreen;
}
nav a {
    font-size: 12px;
    color: beige;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
}
footer {
    margin-top: 15px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: darkgreen;
}
footer p {
    color: beige;
    text-align: center;
    line-height: 1.5em;
}
footer a {
    color: beige;
    text-align: center;
    text-decoration: none;
}
header img {
    width: 25%;
    height: auto;
    left: auto;
    padding-right: 30px;
}
main p img {
	align: center;
    height: 125px;
    width: auto;
}
main p a {
    text-decoration: none;
}
fieldset {
    display: grid;
    margin: 20px 0;
    border: none;
}
input,
textarea {
    margin: 10px 0 20px 0;
}
label {
    margin-top: 10px;
    text-align: left;
}
table {
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
	border-width: .6px;
	border: solid;
	border-color: darkgreen;	
}
caption {
    font-weight: bold;
    color: darkgreen;
    margin-bottom: 5px;
}
table, th, tr, td {
	border-collapse: collapse;
	padding: 2%;
}
th, td {
	border-width: .6px;
	border: solid;
	border-color: darkgreen;
}
td {
	text-align: center;
}
tr th img {
    width: 200px;
    padding-bottom: 10px;
    padding-left: 0%;
    padding-top: 10px;
    height: 200px;
}
#logo {
    width: 70%;
    height: auto;
    margin-top: 15px;
}
.gallery img    {
    max-height: 750px;
}
.container1 {
    margin-top: 35px;
}
.artwork {
    width: 100%;
    height: auto;
}
.headshot {
    width: 70%;
    height: auto;
}
@media screen and (min-width: 360px) {
    .container1 {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-gap: 10%;
        margin-top: 35px;
        font-size: 14px;
        line-height: 1.2em;
    }
    .headshot {
        width: 80%;
        height: auto;
    }
    .container2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5%;
        margin-top: 35px;
    }
    .artwork {
        width: 90%;
        height: auto;
    }
    form {
        display: grid;
        margin: 20px 10% 20px 10%;
        border: none;
    }
    #logo {
        max-width: 200px;
        align: center;
        margin-top: 15px;
    }
    nav a {
        font-size: 18px;
        color: beige;
        text-decoration: none;
        padding-top: 50px;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 50px;
    }
    footer p {
        line-height: 1em;
    }
    table {
        width: 50%;
    }

}